* {padding:0; margin:0; outline: 0; border:0;}

html,body {
	height: 100%;
	width: 100%;
}

body {
	background: #eaeaea;
	color: #333;
	text-align: left;
	line-height: 1.3;
	font: 14px/16px "Open Sans", arial, sans-serif;
	overflow-x:hidden;
}

h1, h2, h3, h4 {
	font-family: "Montserrat", arial, sans-serif;
}

a {
	color: #009ED1;
}

a:hover {
	text-decoration: underline;
}

.container {
	width: 960px;
	margin: 0 auto;
}

#content {
	background-image: url(images/bg_desktop.jpg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
	width: 100%;
}

#content .container {
	height: 100%;
}

#content .info {
	position: relative;
	padding-bottom:20px;
	padding-top: 60px;
	width: 760px;
	margin: 0 auto;
}

#content .info h1 {
	font-size: 42px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	line-height: 1.2;
	margin-top: 6px;
	text-shadow: 0px 1px 1px #4d4d4d;
}

#content .info h1.result_page {
	font-size: 26px;
	padding-bottom:0;
	padding-top: 5px;
}

#content .info .subtitle {
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	color: #fff;
	line-height: 1.2;
	text-shadow: 0px 1px 1px #4d4d4d;
}

#content #result {
	position: relative;
}

#content #score .heading {
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#content .middle {
	position: absolute;
	margin-left: auto;
	margin-right: auto; 
	left: 0; 
	right: 0;
	bottom:50px;
	width: 960px;
	z-index: 2;
}

#content .bottom {
	position: absolute;
	left:0;
	right: 0;
	bottom:0;
	background: #7D5D16;
	text-align: center;
	z-index: 3;
}

#content .bottom a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	padding:20px 0;
}

#content .address {
	width: 800px;
	margin: 0 auto;
	position: relative;
	z-index: 4;
}

#content .address div {
	display: inline-block;
	padding: 10px 0;
}

#content .address div.first,
#content .address div.second {
	width: 40%;
	vertical-align: top;
}

#content .address div.last {
	width: 19%;
}

#content .address label {
	font-weight: 400;
	display: block;
	margin-bottom: 5px;
	cursor: pointer;
	color: #fafafa;
}

#content .address input[type="text"] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}
#content .address input {
	position: relative;
	padding: 10px 4%;
	border-radius: 3px;
	width: 92%;
	font-size: 16px;
}

#content .address input[type="submit"] {
	background: #d93b53;
	border:1px solid #d93b53;
	color: #fafafa;
	font-weight: 500;
	cursor: pointer;
	margin-top: 21px;
}

#label_geo {
	position:absolute; 
	bottom:-20px
}

#label_geo span {
	padding-left: 20px;
	margin-left: 10px;
	background: url(images/gps_icon.png) no-repeat left top;
	background-size: 14px 14px;
}

#content .address input[type="checkbox"] {
	margin:0;
	float: left;
	margin-right: 6px;
	padding:0;
	width: 20px;
}

#content .address input[type="text"]:hover,
#content .address input[type="text"]:active, 
#content .address input[type="text"]:focus  {
  box-shadow: 0 0 5px #36D100;
  border: 1px solid #36D100;
}

#content .address input[type="submit"]:hover,
#content .address input[type="submit"]:active, 
#content .address input[type="tesubmitxt"]:focus {
	background: #F0465F;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#content input.require {
	border: 1px solid red !important;
}

#content .choise { 
	display: none;
}

#content .first_result {
	display: none;
	position: relative;
	font-size: 46px;
	color: #fff;
	text-align: center;
	line-height: 1.8;
	z-index: 4;
}

#content .first_result p {
	font-size: 20px;
}

#content .first_result .data_wind {
	text-shadow: 0px 1px 1px #4d4d4d;
}

#content .first_result #other {
    font-size: 20px;
    color: #d93b53;
    display: block;
    margin-top: 5px;
    cursor: pointer;
    font-weight: bold;
}

#content .first_result .wind_warn {
	padding: 4px 0;
	text-align: center;
	font-size: 14px;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 30%;
	color: #fff;
}

#content .first_result .wind_warn.green {
	display: none;
}

#content .first_result .wind_warn.orange {
	display: block;
	background: orange;
}

#content .first_result .wind_warn.red {
	display: block;
	background: #E70000;
}

#content .first_result .wind_warn.black {
	display: block;
	background: #000;
}

#content .move {
	display: none;
}

#content .social_top {
	position: relative;
	width: 320px;
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
	z-index: 4;
}

#content .social_top a {
	display: inline-block;
}

#content .social_top .addthis_toolbox div {
	float: left;
}

.whatsapp {
	display: none;
}


/* Media Queries */
@media screen and (max-width: 758px) {
	#clouds,
	.windmill {
		display: none;
	}

	.container,
	#content .info,
	#content .middle,
	#content .address {
		width: 94%;
		margin: 0 auto;
		padding:0;
	}

	#content {
		background-image: url(images/bg_tablet.jpg);
	}

	#content .info {
		padding-top: 40px;
		margin-bottom: 40px;
	}

	#animation {
		height: 460px;		
		transform:         scale(0.5);
		-moz-transform:    scale(0.5);
		-webkit-transform: scale(0.5);
		-o-transform:      scale(0.5);
		-ms-transform:     scale(0.5); 
	}

	#content .address div.last {
		width: 18%;
	}

	.cover {
		background: #000 url(images/cover_image_med.jpg) no-repeat center center;
	}

	#articles .col {
		margin-right: 3%;
	}
}

@media screen and (max-width: 450px) {
	#content {
		background-image: url(images/bg_mobile.jpg);
	}

	.cover {
		padding: 20px 0;
		background: #000 url(images/cover_image_small.jpg) no-repeat center center;
	}

	.cover h3 {
		font-size: 16px;
	}

	.container,
	#content .address div,
	#content .address div.last {
		width: 94%;
		margin:0;
		margin: 0 auto;
		padding:0;
	}

	#content .address input[type="submit"] {
		margin-top: 25px;
		width: 100%;
		margin-bottom: 25px;
	}

	#content .first_result {
		font-size: 25px;
		line-height: 1.4;
		padding: 15px 4%;
		width: 92%;
	}

	#content .info {
		padding: 15px 3%;
		margin:0;
	}

	#content .info h1 {
		font-size: 28px;
		padding:0;
		padding-bottom: 15px;
	}

	#content .info h1.result_page {
		font-size: 22px;
	}

	#content .first_result .data_wind {
		margin-bottom: 10px;
		display: block;
	}

	#content .first_result p {
		font-size: 16px;
	}

	#content .first_result #other {
		padding: 10px 0;
	}

	.whatsapp {
		display: inline-block;
		margin: 5px 0;
		height: 20px;
		width: 48px;
		background: url(/images/social/whatsapp-share-button.png) no-repeat;
		margin-top: -2px;
    	border: 1px solid green;
    	border-radius: 3px;
	}

	#animation {
		height: 310px;		
		transform:         scale(0.5);
		-moz-transform:    scale(0.5);
		-webkit-transform: scale(0.5);
		-o-transform:      scale(0.5); 
		-ms-transform:     scale(0.5);
	}

	#content .address div.first, 
	#content .address div.second,	
	#content .address div.last {
		width: 100%;
		z-index: 2;
	}

	#content .address label {
	}

	#content #label_geo {
	    position: relative;
	    padding: 10px 0;
	    border-radius: 4px;
	    background: #7D5D16;
	    margin-bottom: 27px;
	    display: block;
	    font-size: 14px;
	}

	#content #label_geo span {
	    text-align: center;
	    background-position: 1px 3px;
	    height: 20px;
	}

	#content .choise {
	    position: relative;
	    display: block;
	    text-align: center;
	    font-weight: bold;
	    text-transform: uppercase;
	    font-size: 23px;
	    padding-top: 10px;
	    color: #E2E2D9;
	}

	#content #label_geo.input_selected {
	  font-weight: bold;
	  background: #333;
	}

	#content #label_geo input {
		display: none;
	}
	#content .bottom a{
		padding: 9px 0;
		font-size: 14px;
	}

	#content .middle {
		bottom:0;
	}

	.subcontent {
		padding: 30px 0;
	}

	#articles {
		padding-top: 25px;
	}

	#content .social_top {
		width: 90%;
	}

	.subcontent .image, 
	.subcontent .description {
		width: 100%;
	}

	#articles .col {
		margin-bottom: 25px;
	}

	#articles .col,
	.subcontent .image img {
		width:100%;
	}

	.subcontent .image img {
		margin-bottom: 20px;
	}

	#content .first_result {
		z-index: 1;
	}

	.submenu {
		width: 94%;
		padding: 0 3%;
		display: none;
	}

	.open_submenu {
		display: block;
		position: relative;
		background: #333;
		text-align: center;
		padding: 10px 0;
		color: #fff;
		font-size: 16px;
		margin-bottom: 10px;
	}

	#page_content {
		width: 94%;
		padding: 0 3%;
	}

	#header .title h1 {
	font-size: 26px;
	color: #fff;
	line-height: 1.3;
	}
}

@media screen and (max-width: 320px) {

}